{% extends "base.html" %}

{% block content %}

  {% comment %} {% include 'partials/_alert.html' %} {% endcomment %}
<h1 class="h2">Dashboard</h1>
<div class="btn-toolbar mb-2 mb-md-0">
  
  <div class="btn-group mr-2">
    <a class="btn btn-sm btn-outline-primary {% if request.get_full_path == "/inventory/view_by_date_entry"%} active {% endif %}"  
 href="{% url 'view_by_date_entry' %}" role="button">Filter by Date <span data-feather="calendar"></span></a>
  </div>

  <div class="btn-group mr-2">
    <a class="btn btn-sm btn-outline-success {% if request.get_full_path == "/inventory/view_by_author"%} active {% endif %}" href="{% url 'view_by_author' %}" role="button">Filter by Author <span data-feather="book"></span></a>
  </div>
  <div class="btn-group mr-2">
    <a class="btn btn-sm btn-outline-danger {% if request.get_full_path == "/inventory/view_by_name"%} active {% endif %}" href="{% url 'view_by_name' %}" role="button">Filter by Name <span data-feather="book-open"></span></a>
  </div>
  <div class="btn-group mr-2">
    <a class="btn btn-sm btn-outline-info {% if request.get_full_path == "/inventory/view_by_lowest_price"%} active {% endif %}" href="{% url 'view_by_lowest_price' %}" role="button">Filter by Lowest Price <span data-feather="arrow-down"></span></a>
  </div>
    <div class="btn-group mr-2">
    <a class="btn btn-sm btn-outline-success {% if request.get_full_path == "/inventory/view_by_highest_price"%} active {% endif %}" href="{% url 'view_by_highest_price' %}" role="button">Filter by Highest Price <span data-feather="arrow-up"></span></a>
  </div>
    <div class="btn-group mr-2">
    <a class="btn btn-sm btn-outline-secondary" href="{% url 'export_product_csv' %}" role="button">Export Data <span data-feather="download-cloud"></span>
 </a>
  </div>
</div>
</div>

<form class="form-signin" action="search_product" method="post">
    {% csrf_token %}
      {% include 'partials/_alert.html' %}
    <div class="form-group">
      <input
      class="form-control form-control"
      aria-label="Search"
      type="text"
      id="search_field"
      class="form-control"
      placeholder="Search Product"
      name="search_field"
      value="{{values.search_field}}"
      autofocus
    />     
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

<h2>Inventory Details</h2>
<div class="table-responsive">
<table class="table table-bordered table-sm table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Author / Publisher</th>
      <th>Date Updated</th>
      <th>Date Entry</th>
      <th>Recorded By</th>
      <th>Buying Price</th>
      <th>Quantity</th>
      <th>Edit</th>
{{request.user.first_name}}
    </tr>
  </thead>

  <tbody>

          {% for product in product %}
      <tr>
        <td class="table-info">{{product.category}}</td>
        <td {% if request.get_full_path == "/inventory/view_by_name"%} class="table-danger" {% else %} class="table-info"{% endif %} >{{product.name}}</td> 
        <td {% if request.get_full_path == "/inventory/view_by_author"%} class="table-success" {% else %} class="table-info"{% endif %} >{{product.author}}</td> 
        <td {% if request.get_full_path == "/inventory/view_by_date_entry"%} class="table-primary" {% else %} class="table-info"{% endif %} >{{product.date_entry}}</td> 
        <td {% if request.get_full_path == "/inventory/view_by_date_entry"%} class="table-primary" {% else %} class="table-info"{% endif %} >{{product.date_updated}}</td> 
        <td class="table-info">{{product.employee_username}}</td>
        <td {% if request.get_full_path == "/inventory/view_by_highest_price"%} class="table-success" {% elif request.get_full_path == "/inventory/view_by_lowest_price"%} class="table-active" {% else %} class="table-info"{% endif %} >{{product.buying_price|floatformat:2}}ksh</td> 
        <td class="table-info">{{product.quantity}}</td>
        <td class="table-danger"><a class="btn btn-danger" href="{% url 'edit_product' product.id %}" role="button"><span data-feather="edit"></span></a></td>

      </tr>

        {% endfor %}
</ul>
  </tbody>

</table>
</div>
{% endblock content %}